{% extends "websites/base.html" %}
{% block title %}Contato{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <section class="">
        <div class="container  mb-5">
            <div class="text-center mb-5">
                <h1 class="display-8 fw-bolder mb-0"><span class="text-gradient d-inline">Contato</span></h1>

            </div>

            <h6 class="display-8 fw-bolder mb-0">
                <span class="text-gradient d-inline justify-content-center">
                Você tem alguma pergunta? Por favor, não hesite em nos contatar diretamente. Nossa equipe entrará em contato
                    com você em questão de horas para ajudá-lo.</span>
            </h6>

        </div>

            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">
                            <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                                <div class="text-uppercase">Entre em contato pelo nosso e-mail</div>
                            </div>
                            <div class="fs-3 fw-light text-muted">secagemdigitalsilotech@gmail.com</div>

                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <!-- Header profile picture-->
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">

                            <img class="profile-img" style="  border-radius: 5vw;" width="450" height="auto" src="{% static 'assets/fundo2.jpg' %}"
                                 alt="...">
                        </div>
                    </div>
                </div>
            </div>

    </section>


</main>
{% endblock %}