{% extends "websites/base.html" %}
{% block title %}Equipe{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <section class="">
        <div class="container  mb-5">
            <div class="text-center mb-5">
                <h1 class="display-9 fw-bolder mb-0"><span class="text-gradient d-inline">Equipe</span></h1>
            </div>

            <section class="page-section " id="team">
                <div class="container">
                    <div class="text-center">

                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf5.jpg' %}" alt="...">
                                <h4>Ariel</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf7.jpeg' %}" alt="...">
                                <h4>Daniel</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf2.jpeg' %}" alt="...">
                                <h4>Daniela</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf9.jpeg' %}" alt="...">
                                <h4>Helder</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf6.jpg' %}" alt="...">
                                <h4>Hiury</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf8.jpg' %}" alt="...">
                                <h4>Maria</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf4.jpg' %}" alt="...">
                                <h4>Osvaldo</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf3.jpeg' %}" alt="...">
                                <h4>Wayrone</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>
             <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf3.jpeg' %}" alt="...">
                                <h4>Wayrone</h4>
                                <p class="text-muted">Membro</p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Trabalhar em equipe é como
                            um mosaico: cada peça contribui para formar uma imagem completa e bela. 🌟</p></div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</main>
{% endblock %}