{% extends "websites/base.html" %}
{% block title %}Equipe{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <section class="">
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center ">
                            <h5 class="display-7 fw-bolder"><span
                                    class="text-gradient d-inline">Conheça mais sobre nossa equipe
                        </span></h5>
                            <p class="text-muted">Nossa equipe é formada por profissionais de diferentes áreas, que
                                trabalham com qualidade e ousadia. Temos economistas, administradores, advogados,
                                geógrafos, agrônomos, químicos, e especialistas em computação, inteligência
                                artificial,
                                design e marketing. Juntos, criamos soluções inovadoras e eficientes para os nossos
                                clientes. Nossa equipe é um time de talentos e saberes diversos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container  ">
            <br>
            <section class="page-section " id="team">
                <div class="container">
                    <div class="text-center">

                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf5.jpg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Ariel Oliveira da Mota</h5>
                                    <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                        Instituto Federal Goiano
                                        Campus Iporá-GO.
                                        <a href="http://lattes.cnpq.br/8327368764914170" class="alert-link"
                                           target="_blank">Saiba mais</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf7.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Daniel Emanuel Cabral de Oliveira</h5>
                                    <p style="font-size: 12px;">
                                        Graduado em Engenharia Agrícola pela Universidade Estadual de Goiás, em
                                        Santa
                                        Helena de Goiás.
                                        Graduado em Tecnologia em Agronegócio pelo Instituto Federal Goiano.
                                        Mestrado em Ciências Agrárias pelo Instituto Federal Goiano e
                                        Doutorado em Ciências Agrárias - Agronomia pelo Instituto Federal Goiano.
                                        Professor efetivo no Instituto Federal Goiano - Campus Iporá-GO.
                                        <a href="http://lattes.cnpq.br/4999437112211186" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf2.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Daniela Cabral de Oliveira</h5>
                                    <p style="font-size: 12px;">
                                        Graduada em Sistemas de Informação pela Universidade Estadual de Goiás.
                                        Mestrado em Engenharia Mecânica pela Universidade Estadual Paulista Júlio de
                                        Mesquita Filho e
                                        Doutorado em Engenharia Mecânica pela Universidade Estadual Paulista Júlio
                                        de
                                        Mesquita Filho.
                                        Pós-doutorado em Engenharia Mecânica na Universidade Estadual Paulista
                                        "Júlio de Mesquita Filho", Campus Ilha Solteira.
                                        Em andamento Pós Doutorado em Tecnologia de Alimentos pelo Instituto Federal
                                        Goiano Campus Rio Verde.
                                        <a href="http://lattes.cnpq.br/2113470352941981" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf13.jpg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Danihanne Borges e Silva</h5>
                                    <p style="font-size: 12px;">
                                        Possui graduação em Enfermagem pela FMB - Faculdade Montes Belos (2011). Pós
                                        graduação em Master em
                                        Marketing, Estratégia e Inovação Digital pela Uniaraguaia Campus
                                        Goiânia-GO(EAD), concluída em 2021. No ano de 2021 começou Bacharel em Agronomia
                                        pelo IF Goiano - Campus Iporá- GO (em andamento)
                                        <a href="http://lattes.cnpq.br/6832012576453664" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf1.png' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Dionatan Pontes de Oliveira</h5>
                                    <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                        Instituto Federal Goiano
                                        Campus Iporá-GO.
                                        <a href="http://lattes.cnpq.br/0289613678051080" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf9.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Helder Oliveira Gomes de Souza</h5>
                                    <p style="font-size: 12px;">Discente do curso de Ciência da Computação na
                                        Universidade do Estado de Mato Grosso com experiência na área de Robótica,
                                        Mecatrônica e Automação..
                                        <a href="http://lattes.cnpq.br/0834958608563351" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf6.jpg' %}" alt="...">

                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Hiury Lima Oliveira</h5>
                                    <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                        Instituto Federal Goiano
                                        Campus Iporá-GO.
                                        <a href="http://lattes.cnpq.br/9566357643769103" class="alert-link"
                                           target="_blank">Saiba mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf12.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">José Carlos de Sousa Júnior</h5>
                                    <p style="font-size: 12px;">
                                        Graduado em Administração - Habilitação em Agronegócios, pela Universidade
                                        Estadual de Goiás - UEG.
                                        Técnico em Contabilidade pelo Instituto Federal Goiano - IF Goiano;
                                        Especialista
                                        em Marketing e
                                        Gestão Estratégica pela Universidade Cândido Mendes - UCAM.
                                        Mestrado em Desenvolvimento Rural Sustentável pela Universidade Estadual de
                                        Goiás - UEG.
                                        Professor efetivo no Instituto Federal Goiano - Campus Iporá-GO.
                                        <a href="http://lattes.cnpq.br/9146562480275155" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf8.jpg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Maria Gláucia Dourado Furquim</h5>
                                    <p style="font-size: 12px;">
                                        Maria Gláucia Dourado Furquim
                                        Graduada em Administração com habilitação em Agronegócio pela Universidade
                                        Estadual de Goiás - UEG.
                                        Especialista em Auditoria e Perícia Ambiental pela Universidade de Rio Verde
                                        -
                                        UniRV.
                                        MBA em Gestão Estratégica de Negócios pela Universidade Estadual de Goiás -
                                        UEG.
                                        Mestrado em Agronegócio pela Universidade Federal de Goiás - UFG.
                                        Professora Efetiva no Instituto Federal Goiano - Campus Iporá-GO.
                                        <a href="http://lattes.cnpq.br/2681775689273863" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf4.jpg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Osvaldo Resende </h5>
                                    <p style="font-size: 12px;">
                                        Graduado em Engenharia Agrícola pela Universidade Federal de Lavras.
                                        Mestrado em Ciências dos Alimentos pela Universidade Federal de Lavras.
                                        Doutorado em Engenharia Agrícola pela Universidade Federal de Viçosa.
                                        Atualmente é Revisor Técnico de diversos periódicos científicos e professor do
                                        Instituto
                                        Federal de Educação, Ciência e Tecnologia Goiano, Campus Rio Verde-GO.
                                        <a href="http://lattes.cnpq.br/6442201572676110" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf11.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Rafael de Oliveira e Silva</h5>
                                    <p style="font-size: 12px;">Graduação em Engenharia Mecânica pela Universidade de
                                        Rio Verde, Especialista em Instrumentação e Controle de Processos pela Faculdade
                                        de Tecnologia SENAI Ítalo Bologna, Mestre em Engenharia Mecânica pela UNESP na
                                        área de Mecânica dos Sólidos e doutorado em andamento em Engenharia Mecânica
                                        pela UNESP na área de Mecânica dos Sólidos.
                                        <a href="http://lattes.cnpq.br/6586121191686679"
                                           class="alert-link" target="_blank">Saiba mais</a></p>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf3.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Wayrone Klaiton Luiz Silva</h5>
                                    <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                        Instituto Federal Goiano
                                        Campus Iporá-GO
                                        Graduado em Geografia pela Universidade Estadual de Goiás, Campus Iporá-GO.
                                        Mestrado em Geografia pela Universidade Federal de Goiás no Campus Jataí-GO.
                                        <a href="http://lattes.cnpq.br/6448539750494985" class="alert-link"
                                           target="_blank">Saiba
                                            mais</a>
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Trabalhar em equipe é como
                            um mosaico: cada peça contribui para formar uma imagem completa e bela. 🌟</p></div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</main>
{% endblock %}