{% extends "websites/base.html" %}
{% block title %}Equipe{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <section class="">
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center ">
                            <h5 class="display-7 fw-bolder"><span
                                    class="text-gradient d-inline">Conheça mais sobre nossa equipe
                        </span></h5>
                                <p class="text-muted">Nossa equipe é formada por profissionais de diferentes áreas, que
                                    trabalham com qualidade e ousadia. Temos economistas, administradores, advogados,
                                    geógrafos, agrônomos, químicos, e especialistas em computação, inteligência
                                    artificial,
                                    design e marketing. Juntos, criamos soluções inovadoras e eficientes para os nossos
                                    clientes. Nossa equipe é um time de talentos e saberes diversos.</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container  ">
            <br>
            <section class="page-section " id="team">
                <div class="container">
                    <div class="text-center">

                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf5.jpg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Ariel</h5>
                                        <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                            Instituto Federal Goiano
                                            Campus Iporá-GO</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf7.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Daniel Emanuel Cabral de Oliveira</h5>
                                        <p style="font-size: 12px;">
                                            Graduado em Engenharia Agrícola pela Universidade Estadual de Goiás, em
                                            Santa
                                            Helena de Goiás.
                                            Graduado em Tecnologia em Agronegócio pelo Instituto Federal Goiano.
                                            Mestrado em Ciências Agrárias pelo Instituto Federal Goiano e
                                            Doutorado em Ciências Agrárias - Agronomia pelo Instituto Federal Goiano.
                                            Professor efetivo no Instituto Federal Goiano - Campus Iporá-GO.
                                        </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf2.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Daniela Cabral de Oliveira</h5>
                                        <p style="font-size: 12px;">
                                            Graduada em Sistemas de Informação pela Universidade Estadual de Goiás.
                                            Mestrado em Engenharia Mecânica pela Universidade Estadual Paulista Júlio de
                                            Mesquita Filho e
                                            Doutorado em Engenharia Mecânica pela Universidade Estadual Paulista Júlio
                                            de
                                            Mesquita Filho.
                                            Pós-doutorado em Engenharia Mecânica na Universidade Estadual Paulista
                                            "Júlio de Mesquita Filho", Campus Ilha Solteira.
                                            Em andamento Pós Doutorado em Tecnologia de Alimentos pelo Instituto Federal
                                            Goiano Campus Rio Verde.


                                        </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf1.png' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Dionatan Pontes de Oliveira</h5>
                                        <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                            Instituto Federal Goiano
                                            Campus Iporá-GO</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf9.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Helder</h5>
                                        <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                            Instituto Federal Goiano
                                            Campus Iporá-GO</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf6.jpg' %}" alt="...">

                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Hiury</h5>
                                        <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                            Instituto Federal Goiano
                                            Campus Iporá-GO</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf12.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">José Carlos de Sousa Júnior</h5>
                                        <p style="font-size: 12px;">
                                            Graduado em Administração - Habilitação em Agronegócios, pela Universidade
                                            Estadual de Goiás - UEG.
                                            Técnico em Contabilidade pelo Instituto Federal Goiano - IF Goiano;
                                            Especialista
                                            em Marketing e
                                            Gestão Estratégica pela Universidade Cândido Mendes - UCAM.
                                            Mestrado em Desenvolvimento Rural Sustentável pela Universidade Estadual de
                                            Goiás - UEG.
                                            Professor efetivo no Instituto Federal Goiano - Campus Iporá-GO.
                                        </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf8.jpg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Maria Gláucia Dourado Furquim</h5>
                                        <p style="font-size: 12px;">
                                            Maria Gláucia Dourado Furquim
                                            Graduada em Administração com habilitação em Agronegócio pela Universidade
                                            Estadual de Goiás - UEG.
                                            Especialista em Auditoria e Perícia Ambiental pela Universidade de Rio Verde
                                            -
                                            UniRV.
                                            MBA em Gestão Estratégica de Negócios pela Universidade Estadual de Goiás -
                                            UEG.
                                            Mestrado em Agronegócio pela Universidade Federal de Goiás - UFG.
                                            Professora Efetiva no Instituto Federal Goiano - Campus Iporá-GO.
                                        </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf4.jpg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Osvaldo Resende </h5>
                                    <p style="font-size: 12px;">
                                        Graduado em Engenharia Agrícola pela Universidade Federal de Lavras.
                                        Mestrado em Ciências dos Alimentos pela Universidade Federal de Lavras.
                                        Doutorado em Engenharia Agrícola pela Universidade Federal de Viçosa.
                                        Atualmente é Revisor Técnico de diversos periódicos científicos e professor do
                                        Instituto
                                        Federal de Educação, Ciência e Tecnologia Goiano, Campus Rio Verde-GO.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf11.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Rafael</h5>
                                        <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                            Instituto Federal Goiano
                                            Campus Iporá-GO</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'assets/pf3.jpeg' %}" alt="...">
                                <div class="alert alert-success" role="alert">
                                    <h5 class="alert-heading">Wayrone Klaiton Luiz Silva</h5>
                                    <p style="font-size: 12px;">Graduado em: Análise e Desenvolvimento de Sistemas,
                                        Instituto Federal Goiano
                                        Campus Iporá-GO
                                        Graduado em Geografia pela Universidade Estadual de Goiás, Campus Iporá-GO.
                                        Mestrado em Geografia pela Universidade Federal de Goiás no Campus Jataí-GO.
                                        <a href="https://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4380294T9&tokenCaptchar=03AFcWeA73ouHjEoK65_VXOVP2xy3akmWOOvsZLAtgRIUTySca2V5CeRLLSJlhzwo8Ck_LEuqWwzgrIq9EUI4BCgL3n54OklJCXx97zvQLKCeNKJDbuTVAeg0PkzU4QpqqQ_V0UwDr61eoT58j63af0UHs05KcSwmPN8UHf-7VbJOIFmJeM06dkzBhItabvlvh6_D99hfTWHkBqwt9CwZnONWuZUSKOJ-15He19cM8cTq0dGywcXW5MdovE9s8EJX4_xwVv4ECNTAbelJn8wiJAppftWumyJux5CQQk5QaFNOA_hnY-AskDx7i3FxhwGIeSzHtcYvhaeHNaCEqlp_zVNn-veL3tXKtpWaRkpwxPy1K5geNNTM0ZhZD3ryXTbikRpwSwllMZuq1pCjxNdjEj6RS36mMYQPj90T-uxmhElawhn7QGUd7Pyi7akc-UXW-6Z-eMN4Jhq_ic3ZJBFvnmiePEPGfBNTzp6s8HRovFXqpQul_gIJSJcelfUL--bUVedmgupq_QLJGmKSEOOszJCmcrfWyelf_QURn-NKTxxDb7wQnCOjiB4EArSIUYIE35UGM_esfvOOxdp-feFLrQo3mI5H3rXUFo75jS93n_8o8a2Do8hjyp1fBNbN0IF-PNNv51Mecv5JZ5lm9hPjOS8LAM_8TSSEijs3vSlFPmd1P0Apyp2jkzJ8"
                                           class="alert-link">Lattes</a>.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Trabalhar em equipe é como
                            um mosaico: cada peça contribui para formar uma imagem completa e bela. 🌟</p></div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</main>
{% endblock %}