{% extends "websites/base.html" %}
{% block title %}Início{% endblock %}
{% load static %}
{% block content %}

<main class="flex-shrink-0">

    <!-- Header-->
    <header class="py-5">
        <img style="width: 100%; height: auto;" class="profile-img" src="{% static 'assets/fundo.png' %}" alt="..."/>

    </header>

    <!-- About Section-->
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder"><span
                                class="text-gradient d-inline">Startup Secagem Digital</span></h2>
                        <p class="lead fw-light mb-4">Tecnologia Secagem Digital: Monitore grãos e sementes com segurança e eficiência</p>
                        <p class="text-muted" style="text-align: justify;" >Você quer secar os seus grãos e sementes de um jeito novo e inteligente?
                            Então você precisa conhecer a Secagem Digital, uma tecnologia que te ajuda a fazer isso com
                            segurança e eficiência. Ela usa sensores digitais que medem a temperatura e a umidade do ar,
                            e te mostra como está a secagem em tempo real. E assim, você pode ajustar a aeração
                            automática dos secadores, que são do tipo estacionário e de fluxo misto. Isso economiza
                            energia e preserva a qualidade do produto. E o melhor: você pode controlar tudo pelo
                            celular, com o software da Secagem Digital. Ele te mostra os dados dos sensores, faz
                            gráficos e relatórios, e te avisa se algo der errado. Você também pode acessar em uma API,
                            na nuvem, de qualquer lugar do mundo. Assim, a Secagem Digital é uma tecnologia que faz a
                            diferença no agronegócio, porque reduz custos, aumenta a produtividade e a segurança, e
                            mantém a qualidade dos grãos. </p>

                          <img class="img-fluid" style="  border-radius: 1vw;" width="990"
                                 src="{% static 'assets/banner.png' %}" alt="..."/>ssh root@195.35.43.45
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
