{% extends "websites/base.html" %}
{% block title %}Início{% endblock %}
{% load static %}
{% block content %}

<main class="flex-shrink-0">

    <!-- Header-->
    <header class="py-5">
        <img style="width: 100%; height: auto;" class="profile-img" src="{% static 'assets/fundo.png' %}" alt="..."/>

    </header>

    <!-- About Section-->
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder"><span
                                class="text-gradient d-inline">Startup Secagem Digital</span></h2>
                        <p class="lead fw-light mb-4">Tecnologia Secagem Digital: Monitore grãos e sementes com segurança e eficiência</p>
                        <p class="text-muted" style="text-align: justify;" ></p>


                          <img class="img-fluid" style="  border-radius: 1vw;" width="990"
                                 src="{% static 'assets/banner.png' %}" alt="..."/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
