{% extends "websites/base.html" %}
{% block title %}Política de Privacidade{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <section class="">
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center">
                            <h4 class="display-7 fw-bolder">
                                <span class="text-gradient d-inline">Política de Privacidade</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container mb-5">
            <section class="text-justify">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Introdução</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Bem-vindo à nossa Política de Privacidade. Sua privacidade é importante para nós. Esta política explica como coletamos, usamos, e protegemos suas informações pessoais quando você utiliza nosso aplicativo.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Informações que Coletamos</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Coletamos vários tipos de informações para diversos fins, incluindo para fornecer e melhorar nosso serviço:
                            <ul>
                                <li><strong>Informações Pessoais:</strong> Nome, endereço de e-mail, número de telefone, etc.</li>
                                <li><strong>Dados de Uso:</strong> Informações sobre como o serviço é acessado e utilizado.</li>
                                <li><strong>Dados de Localização:</strong> Usamos e armazenamos informações sobre sua localização se você nos der permissão.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Uso das Informações</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Utilizamos as informações coletadas para:
                            <ul>
                                <li>Fornecer e manter nosso serviço.</li>
                                <li>Notificar sobre mudanças no nosso serviço.</li>
                                <li>Permitir que você participe de funcionalidades interativas do nosso serviço.</li>
                                <li>Prestar suporte ao cliente.</li>
                                <li>Coletar análises ou informações valiosas para que possamos melhorar nosso serviço.</li>
                                <li>Monitorar o uso do nosso serviço.</li>
                                <li>Detectar, prevenir e resolver problemas técnicos.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Proteção das Informações</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            A segurança das suas informações é importante para nós, mas lembre-se de que nenhum método de transmissão pela Internet, ou método de armazenamento eletrônico, é 100% seguro. Enquanto nos esforçamos para usar meios comercialmente aceitáveis para proteger suas informações pessoais, não podemos garantir sua segurança absoluta.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Alterações a Esta Política de Privacidade</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Podemos atualizar nossa Política de Privacidade de tempos em tempos. Notificaremos sobre quaisquer mudanças publicando a nova Política de Privacidade nesta página. Recomenda-se revisar esta Política de Privacidade periodicamente para quaisquer mudanças.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Contato</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco:
                            <ul>
                                <li>Por e-mail: contato@seuapp.com</li>
                                <li>Por telefone: +55 (11) 1234-5678</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
{% endblock %}
