{% extends "websites/base.html" %}
{% block title %}Política de Privacidade{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <section class="">
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center">
                            <h4 class="display-7 fw-bolder">
                                <span class="text-gradient d-inline">Política de Privacidade</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container mb-5">
            <section class="text-justify">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Introdução</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            A Secagem Digital valoriza sua privacidade e se compromete a proteger as informações pessoais fornecidas por você. Esta política de privacidade descreve como coletamos, usamos, armazenamos e protegemos seus dados quando você utiliza nosso aplicativo para solicitar um orçamento.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Coleta de Dados</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Nosso aplicativo coleta apenas as informações fornecidas diretamente por você ao preencher o formulário de orçamento. As informações coletadas incluem:
                            <ul>
                                <li><strong>Nome Completo:</strong> Necessário para identificação e contato.</li>
                                <li><strong>Telefone:</strong> Utilizado para comunicar e responder à sua solicitação de orçamento.</li>
                                <li><strong>Email:</strong> Utilizado para envio de orçamentos e demais comunicações relacionadas aos nossos serviços.</li>
                                <li><strong>Descrição:</strong> Detalhes sobre o projeto ou serviço solicitado, conforme informado por você.</li>
                                <li><strong>Prazo:</strong> Data estimada para a execução do projeto.</li>
                                <li><strong>Orçamento Disponível:</strong> Informação sobre o valor que você tem disponível para o serviço solicitado.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Uso dos Dados</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Os dados fornecidos serão utilizados exclusivamente para os seguintes fins:
                            <ul>
                                <li>Avaliar e fornecer o orçamento solicitado.</li>
                                <li>Entrar em contato com você para discutir os detalhes do projeto.</li>
                                <li>Oferecer suporte ou responder a dúvidas relacionadas ao serviço solicitado.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Armazenamento e Segurança dos Dados</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Os dados coletados serão armazenados de maneira segura em nossos servidores. Implementamos medidas de segurança adequadas para garantir que suas informações estejam protegidas contra acessos não autorizados, alterações, divulgação ou destruição.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Compartilhamento de Dados</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            A Secagem Digital não compartilha suas informações pessoais com terceiros, exceto quando exigido por lei ou quando necessário para fornecer o serviço solicitado.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Direitos dos Usuários</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Você tem o direito de acessar, corrigir ou excluir seus dados pessoais armazenados por nós. Para exercer esses direitos, entre em contato conosco através do e-mail: secagemdigitalsilotech@gmail.com.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Alterações na Política de Privacidade</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            A Secagem Digital reserva-se o direito de alterar esta política de privacidade a qualquer momento. Quaisquer mudanças serão publicadas em nosso aplicativo, e recomendamos que você revise esta política periodicamente.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bolder mb-0">Contato</h5>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body">
                        <p class="text-muted" style="text-align: justify;">
                            Se você tiver qualquer dúvida sobre esta política de privacidade ou sobre o uso de seus dados, entre em contato conosco através do e-mail: secagemdigitalsilotech@gmail.com.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
{% endblock %}
