{% extends "websites/base.html" %}
{% block title %}Portfólio{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <!-- Projects Section-->
    <section class="">
        <div class="container  mb-5">
                <br>
            <div class="text-center mb-5">
                <h1 class="display-8 fw-bolder mb-0"><span class="text-gradient d-inline">Portfólio</span></h1>
            </div>

            <section class="showcase">
                <div class="container-fluid p-0">
                    <div class="row g-0 ">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p1.png' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text ">
                            <h2 class="fw-bolder">G-grãos</h2>
                            <p class="text-muted" style="text-align: justify;">O aplicativo G-grãos é uma ferramenta de
                                auxílio para o uso da
                                informação na
                                classificação de grãos de produtores rurais dos grãos de Sorgo, Soja, Milho e
                                Feijão. O App tem como diferencial apresentar funcionalidades baseadas na
                                interpretação dessa
                                Cartilha. O desenvolvimento do App fornece as funções de cadastro e
                                classificação para amostras e, consequentemente, visualização do laudo
                                classificativo. Em termos técnicos, a ferramenta centraliza todas as requisições
                                da informação, armazenando-as na forma de dados inseridos no/pelo aplicativo.</p>

                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">JOÃO AREIS FERREIRA BARBOSA JÚNIOR</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">GUILHERME MATOS ATAIDES</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIEL EMANUEL CABRAL DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIELA CABRAL DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">JOSÉ CARLOS DE SOUSA JÚNIOR</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">MARIA GLÁUCIA DOURADO FURQUIM</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">UENDER CARLOS BARBOSA;</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">ALCÍDIA CRISTINA RODRIGUES OLIVEIRA BERGLAND</span>

                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-6  text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p2.png' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 my-auto showcase-text">
                            <h2 class="fw-bolder">Classifique Soja</h2>
                            <p class="text-muted" style="text-align: justify;">O Classifique Soja nasceu da inspiração
                                de iniciativas acadêmicas e
                                comerciais para popularizar o conhecimento da classificação do grão de Soja, destinado
                                tanto para o uso de classificadores legais nas unidades classificadoras ou nas
                                propriedades rurais, como incentivando a popularização desse conhecimento, à medida que
                                se dispõe dessa ferramenta prática a todas pessoas que desejam realizar a classificação
                                de Soja.
                                O Classifique Soja mapeia os processos de amostragem do caminhão, de classificação das
                                amostras, da emissão do laudo técnico e da análise dos defeitos encontrados</p>

                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                        </div>
                    </div>
                    <div class="row g-0 ">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p3.png' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text ">
                            <h2 class="fw-bolder">Tomateiro</h2>
                            <p class="text-muted" style="text-align: justify;">O aplicativo desenvolvido para o sistema
                                Android, com o
                                propósito de auxiliar na gestão dos custos de produção do tomate para consumo fresco.
                                Desta forma, pretende-se, contribuir com o armazenamento e análise de dados cadastrados
                                pelo usuário descritos em operações manuais, operações mecanizadas, insumos e
                                administração, visando contribuir para o melhor acompanhamento dos custos por ciclo de
                                produção, o que auxilia na assertiva tomada de decisão em pequenas propriedades nos
                                negócios agrícola.</p>

                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">ABADIA DOS REIS NASCIMENTO</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">CLAYTON LUIZ DE MELO NUNES</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIELA CABRAL DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">MARIA GLÁUCIA DOURADO FURQUIM</span>

                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-6  text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="600"
                                 src="{% static 'assets/p4.png' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 my-auto showcase-text">
                            <h2 class="fw-bolder">Fiscaliza Iporá-GO</h2>
                            <p class="text-muted" style="text-align: justify;">O aplicativo “Fiscaliza Iporá” foi
                                desenvolvido como um projeto pessoal para
                                dispositivos móveis e para o sistema operacional Android. O objetivo do app é denunciar
                                crimes ambientais de municípios brasileiros, e tem sido aplicado ao caso do município de
                                Iporá - GO. O aplicativo funciona como um canal de comunicação entre a comunidade
                                iporaense e a área da gestão pública da cidade, responsável por receber e resolver as
                                denúncias de crimes ambientais. O cidadão pode criar, enviar e consultar suas denúncias
                                de crimes ambientais, e ainda optar, se deseja o anonimato (ou não). As denúncias são
                                recebidas por e-mail por gestores ambientais, como servidores da Secretaria Municipal de
                                Meio Ambiente, e também por vereadores da cidade, que podem fiscalizar a resolução das
                                denúncias.</p>

                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">ELIANA TIBA GOMES GRANDE</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIEL EMANUEL CABRAL DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIELA CABRAL DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">WAYRONE KLAITON LUIZ SILVA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">HAIHANI SILVA PASSOS</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">ANA CAROLINA RIBEIRO AGUIAR</span>
                        </div>
                    </div>
                    <div class="row g-0 ">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p5.png' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text ">
                            <h2 class="fw-bolder">Classifique Tomatete</h2>
                            <p class="text-muted" style="text-align: justify;">
                                O aplicativo Classifique Tomate consiste em facilitar o processe de classificação de
                                tomate. Com o app o produtor passa a controlar a produção por meio da gestão de lotes e
                                suas respectivas amostras. A classificação leva em consideração os defeitos leves,
                                graves, grupo, tipo e classe do tomate, estás informações são emitidas por meio do laudo
                                de classificação. O laudo da classificação permite uma melhor tomada de decisão por
                                parte do produtor.
                            </p>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIELA CABRAL DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">MARIA GLÁUCIA DOURADO FURQUIM</span>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-6  text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p6.png' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 my-auto showcase-text">
                            <h2 class="fw-bolder">Smart Flexões</h2>
                            <p class="text-muted" style="text-align: justify;">Este App possibilita a contagem
                                automática de flexões por meio do sensor de proximidade do dispositivo. Possuí 2
                                modalidade de treinos, sendo Treino selecionado: Consiste em uma combinação (séries) e
                                quantidades de flexões predefinidas.
                                Treino livre: Consiste em um treino livre, sem um número de séries e intervalo de
                                descanso.</p>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                        </div>
                    </div>
                    <div class="row g-0 ">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p7.png' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text ">
                            <h2 class="fw-bolder">Meu Xodó Pet</h2>
                            <p class="text-muted" style="text-align: justify;">Com o app Meu Xodó Pet você pode
                                cadastrar seus pets e gerencia seu histórico de vacinas pelo cartão de vacina. O app
                                conta com uma interface simplificada que proporciona praticidade no seu dia a dia.

                                Tem dificuldade de lembrar de administrar remédios, dar banho ou data de revacinação do
                                seu pet? O app conta com a funcionalidade de lembrete, em que você define um título para
                                seu lembrete, uma descrição, data e horário. Chegada a data definida no lembrete, é
                                exibida um notificação com os dados informados.
                            </p>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-6  text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p9.jpg' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 my-auto showcase-text">
                            <h2 class="fw-bolder">Plataforma de gestão de convênios do MAPA</h2>
                            <p class="text-muted" style="text-align: justify;">O objetivo do projeto é desenvolver um
                                sistema para automatizar o processo de formalização dos convênios do MAPA para o tornar
                                organizado, prático e com disponibilidade das informações a qualquer momento.
                                Sistema de informações gerenciais consistem no desenvolvimento e no uso de sistemas de
                                informação que auxiliam as instituições a alcançar suas metas e objetivos. Diante desse
                                contexto, a PGC - Programa de gestão e convênios do MAPA - Ministério da Agricultura e
                                Pecuária, auxiliará nas tomadas de
                                decisões quanto às etapas do processo de Formalização e execução..
                            </p>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIELA CABRAL DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">WAYRONE KLAITON LUIZ SILVA</span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">HAIHANI SILVA PASSOS</span>
                        </div>
                    </div>

                    <div class="row g-0 ">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img">
                            <img class="img-fluid" style="  border-radius: 3vw;" width="590"
                                 src="{% static 'assets/p10.jpg' %}" alt="..."/>
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text ">
                            <h2 class="fw-bolder">E-Book: G-grãos App</h2>

                            <p class="text-muted" style="text-align: justify;">
                                Aplicativo G-grãos: o passo a passo da classificação vegetal e de sua informatização.
                                Soja, milho, feijão e sorgo.
                                <br>
                                Categorias: Ciências Exatas e Biológicas, História e Geografia, Tecnologia.
                            </p>
                            <div class="d-flex flex-row-reverse">
                                  <a class="btn btn-success" href="https://pedroejoaoeditores.com.br?arquivo_download=2506">Abrir o e-book</a>
                            </div>

                            <br>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIEL EMANUEL CABRAL DE OLIVEIRA </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIELA CABRAL DE OLIVEIRA </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">JOSÉ CARLOS DE SOUSA JÚNIOR </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">MARIA GLÁUCIA DOURADO FURQUIM </span>
                            <span style="padding: 7px;"
                                  class="badge rounded-pill alert alert-success">OSVALDO RESENDE </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DIONATAN PONTES DE OLIVEIRA </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">GUILHERME MATOS ATAIDES </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">WAYRONE KLAITON LUIZ SILVA </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">UENDER CARLOS BARBOSA </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">ALCÍDIA CRISTINA RODRIGUÊS BERGLAND </span>
                            <span style="padding: 7px;" class="badge rounded-pill alert alert-success">DANIHANNE BORGES E SILVA </span>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Call to action section-->
    <section class="py-5  text-white" style="background-color: #4e524e;">
        <div class="container px-5 my-5">
            <section>
                <div class="text-center">
                    <div class="d-inline  mb-4">
                        <h5 class=" fw-bolder mb-0">Registros de Software no INPI - Instituto Nacional da Propriedade
                            Industrial</h5>
                    </div>
                </div>
                <br>
                <div class="text-justify">
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col">
                                    <div><p class="text-muted" style="text-align: justify;">
                                        Título: "G-Soja - Classificação de Grãos Soja"; patente: Programa de Computador.
                                        Número do registro: BR512020000828-3,
                                        data de registro: 12/05/2020.

                                        <br><br>Título: "SmartAve - Aplicativo de Monitoramento Avícola"; patente:
                                        Programa
                                        de
                                        Computador. Número do registro:
                                        BR512020002368-1, data de registro: 17/06/2020.

                                        <br><br>Título: "G-Grãos - Aplicativo de Classificação de Soja, Milho, Feijão e
                                        Sorgo";
                                        patente: Programa de Computador. Número do registro:
                                        BR512020002863-2, data de registro: 26/11/2020.

                                        <br><br>Título: "Site Web para Classificação de Soja com Aprendizado de
                                        Máquina";
                                        patente:
                                        Programa de Computador. Número do registro:
                                        BR512021000113-3, data de registro: 09/12/2020.

                                        <br><br>Título: "IGrãos Chatbot para Classificação de Soja"; patente: Programa
                                        de
                                        Computador. Número do registro: BR512021000951-7,
                                        data de registro: 26/04/2021.

                                        <br><br>Título: "Smart Hotel - Aplicativo para hotéis"; patente: Programa de
                                        Computador.
                                        Número do registro: BR512021000952-5, data de registro: 01/05/2021.

                                        <br><br>Título: "TOMATEIRO$ - Aplicativo de Gerenciamento de Custos de
                                        Produção";
                                        patente:
                                        Programa de Computador. Número do registro: BR512021001211-9, data de registro:
                                        19/05/2021.

                                        <br><br>Título: "O mundo da sustentabilidade: Game infantil educativo sobre
                                        práticas
                                        sustentáveis"; patente: Programa de Computador. Número do registro:
                                        BR512021002524-5, data de registro: 15/04/2021.

                                        <br><br>Título: "SisAeração - WebApp para Sistema de Aeração utilizando
                                        Aprendizado
                                        de
                                        Máquina"; patente: Programa de Computador. Número do registro: BR12022000174-8,
                                        data
                                        de registro: 06/12/2021.

                                        <br><br>Título: "Sistema Banco Virtual de Talentos Estudantis"; patente:
                                        Programa de
                                        Computador. Número do registro: BR512020000596-9, data de registro: 01/01/2020.


                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
{% endblock %}