{% extends "websites/base.html" %}
{% block title %}Serviços{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">

    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center">
                        <h4 class="display-7 fw-bolder"><span
                                class="text-gradient d-inline">Software sob demanda
                        </span></h4>
                        <p class="text-muted">Nós criamos aplicativos e aplicações web sob demanda, de acordo com as
                            suas necessidades. Você nos conta o que você quer e nós desenvolvemos a solução ideal para
                            você. Assim, você tem um produto personalizado, que se adapta ao seu negócio, ao seu mercado
                            e aos seus usuários. Nós usamos as melhores tecnologias e metodologias para entregar
                            soluções de qualidade.
                            Para isso, precisamos: entender as necessidades do cliente, dividir o projeto em partes,
                            escrever o código, testar o sistema e entregar para o cliente. É um processo que requer
                            cuidado e criatividade, mas que nos deixa felizes por criar uma solução real e eficiente.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div>
        <section>
            <div class="container px-5  ">
                <div class="row gx-5  justify-content-center">
                    <div class="col-lg-6 1">
                        <div>
                            <h4 class="display-7 fw-bolder"><span
                                    class="text-gradient d-inline">Levantamento de requisitos
                        </span></h4>
                            <p style="text-align: justify;">Nossa equipe trabalha com você para entender as suas
                                necessidades e criar o produto que você deseja. Para isso, usamos dois modos de
                                levantamento
                                de requisitos: a visita técnica e as reuniões online. Na visita técnica, um membro da
                                nossa
                                equipe vai até o seu local para ver de perto o seu problema e as suas soluções. Nas
                                reuniões
                                online, conversamos com você por videochamada para tirar as suas dúvidas e definir as
                                funcionalidades do produto. Assim, conseguimos obter as informações iniciais sobre o
                                produto
                                a ser desenvolvido.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <h4 class="display-7 fw-bolder"><span
                                    class="text-gradient d-inline">Prototipagem
                        </span></h4>
                            <p style="text-align: justify;">Depois de entender o que o cliente quer, nós criamos um
                                protótipo que não funciona de verdade, mas que mostra como o sistema vai ser. Assim, nós
                                podemos confirmar se o cliente gostou da nossa solução.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <h4 class="display-7 fw-bolder"><span
                                    class="text-gradient d-inline">Testes
                        </span></h4>
                            <p style="text-align: justify;">Nós testamos o sistema várias vezes para ver se tudo está
                                funcionando como o cliente pediu. No final, nós também pedimos para algumas pessoas
                                usarem o
                                sistema e nos derem um feedback. Assim, nós garantimos a qualidade do nosso produto.</p>
                        </div>
                    </div>
                    <div class="col-lg-6  ">
                        <div>
                            <h4 class="display-7 fw-bolder"><span
                                    class="text-gradient d-inline">Implantação de software
                        </span></h4>
                            <p style="text-align: justify;">
                                A implantação de software é quando colocamos o sistema que criamos em funcionamento para
                                os usuários. Para isso, precisamos: instalar o software nos servidores, configurar os
                                sistemas, migrar os dados dos sistemas antigos, treinar e capacitar os usuários, criar a
                                documentação, monitorar o uso do sistema e oferecer suporte técnico. É um processo que
                                requer cuidado e atenção, mas que nos deixa orgulhosos por entregar uma solução de
                                qualidade para o cliente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>
{% endblock %}