{% extends "websites/base.html" %}
{% block title %}Quem somos{% endblock %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
    <section class="">
        <div class="container  mb-5">
            <div class="text-center mb-5">
                <h1 class="display-8 fw-bolder mb-0"><span class="text-gradient d-inline">Quem somos</span></h1>
            </div>

            <section class="text-justify">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class=" fw-bolder mb-0">Secagem Digital</h5>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col">
                                <div><p class="text-muted" style="text-align: justify;">Startup com objetivo de
                                    automatizar secadores estacionário e
                                    de fluxo misto, por meio da instalação de sensores digitais de temperatura e umidade
                                    relativa, obter a
                                    eficiência energética do processo em tempo real, bem como avaliar a qualidade das
                                    sementes de soja. Além disso, será realizado o monitoramento, via aplicativo para
                                    dispositivos Android e IOS.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class=" fw-bolder mb-0">A missão</h5>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col">
                                <div><p class="text-muted" style="text-align: justify;">Nossa missão é oferecer um
                                    espaço seguro e propício para o desenvolvimento de inovações tecnológicas.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class=" fw-bolder mb-0">A visão</h5>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col">
                                <div><p class="text-muted" style="text-align: justify;">Nossa visão é tornar-se
                                    referência no desenvolvimento de produtos e serviços que atendam às necessidades das
                                    instituições parceiras.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class=" fw-bolder mb-0">Os valores</h5>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col">
                                <div><p class="text-muted" style="text-align: justify;"> Aprendizagem Colaborativa:
                                    Buscamos promover a aprendizagem colaborativa entre a nossa equipe multidisciplinar,
                                    formada por acadêmicos e profissionais do mercado, e com nossos clientes e
                                    parceiros, para oferecer soluções inovadoras em softwares, robótica e modelagens de
                                    negócios.

                                    <br>Humanidade: Trabalhamos com humildade, respeito à diversidade e um olhar
                                    etnográfico
                                    sobre os problemas, buscando ter uma escuta ativa sobre as necessidades,
                                    conhecimentos e emoções das pessoas envolvidas.

                                    <br>Excelência: Buscamos a excelência do planejamento até a entrega dos nossos
                                    projetos,
                                    garantindo o funcional, o design, a competitividade, a qualidade, a agilidade, a
                                    eficiência e a segurança.

                                    <br>Sustentabilidade: Buscamos contribuir com a sustentabilidade do planeta, ao usar
                                    recursos naturais e energéticos de forma consciente e responsável, com vistas a
                                    minimizar os impactos ambientais, econômicos e sociais.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class=" fw-bolder mb-0">Os objetivos</h5>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col">
                                <div><p class="text-muted" style="text-align: justify;"> 1. Incentivar a emancipação
                                    econômica dos estudantes, professores e pesquisadores.
                                    <br>2. Promover a capacitação intelectual dos estudantes, professores e pesquisadores.
                                    <br>3. Prover todo suporte para desenvolvimento de projetos no âmbito administrativo,
                                    econômico, legal, intelectual e voltado ao mercado digital.
                                    <br>4. Facilitar a proteção e comercialização de produtos e serviços que são de
                                    propriedade intelectual gerada em instituições de ensino, em incubadoras ou de forma
                                    autônoma.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class=" fw-bolder mb-0">Produto</h5>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">

                            <div class="col">
                                <div><p class="text-muted" style="text-align: justify;">Busca-se com esta proposta o
                                    monitoramento em tempo real das
                                    condições de secagem e
                                    a supervisão das condições de armazenamento no interior de um Produto Mínimo Viável
                                    (MVP) de bancada e um silo de 1,80 metros que serão os protótipos do projeto. Esse
                                    protótipo será montado e automatizado no MVP de bancada e no Laboratório de
                                    Pós-Colheita de Produtos Vegetais do IF Goiano, Campus Rio Verde. Para a montagem do
                                    protótipo inicial necessitará instalar sensores digitais para temperatura e umidade
                                    relativa e um sistema de recepção e transmissão de dados para automação dos
                                    secadores e assim monitorar a soja durante o armazenamento.
                                </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</main>
{% endblock %}